<div class="checkout-container">
  
  <div class="card-pago">
    <h2>Finalizar Compra</h2>
    <p>Estás a un paso de generar tu pedido.</p>

    <div *ngIf="error" class="alert-error">
      {{ error }}
    </div>

    <div class="info-pago">
      <p>El pago se procesará de forma segura a través de <strong>Mercado Pago</strong>.</p>
      <p>Al hacer clic, serás redirigido para completar la transacción.</p>
    </div>
    
    <br>

    <button 
      (click)="confirmarPago()" 
      [disabled]="procesando" 
      class="btn-mercado-pago">
      
      <span *ngIf="!procesando">Pagar con Mercado Pago ➔</span>
      <span *ngIf="procesando">Redirigiendo... ⏳</span>

    </button>
  </div>

</div>