@if (productos && productos.length > 0) {
  
  <div class="product-grid">
    @for (producto of productos; track producto.idProducto) {
      <app-product-card [producto]="producto"></app-product-card>
    }
  </div>

} @else if (productos === null) {
  
  <div class="system-message loading-container">
    <div class="cyber-spinner"></div>
    <p class="blink-text">ACCEDIENDO AL SERVIDOR DE INVENTARIO...</p>
  </div>

} @else {
  
  <div class="system-message empty-container">
    <div class="icon-warning">⚠</div>
    <p>NO SE DETECTARON ITEMS EN ESTE SECTOR.</p>
    <small>INTENTE OTRA BÚSQUEDA O CONFIGURACIÓN.</small>
  </div>

}