<div class="banner-full-width">
  <img [src]="bannerUrl" alt="Banner Gamer" class="banner-img">
  <div class="banner-texto">
  </div>
</div>

<div class="tienda-layout">

  <aside class="tienda-filtros">
    <div class="filtros-wrapper">
      
      <div class="filtro-seccion search-section">
        <h4 class="filtro-titulo">Buscar</h4>
        <div class="search-container">
          <input 
            type="text" 
            placeholder="¿Qué buscas 🤖?" 
            class="filtro-buscar"
            [ngModel]="terminoBusqueda()"
            (ngModelChange)="terminoBusqueda.set($event)">
            
          <span class="search-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </span>
        </div>
      </div>

      <div class="filtro-seccion">
        <h4 class="filtro-titulo">Categorías</h4>
        
        @if (categorias$ | async; as categorias) {
          <nav class="filtro-categorias">
            <ul>
              <li>
                <a (click)="seleccionarCategoria(null)"
                   [class.activo]="categoriaSeleccionadaId() === null">
                  Todas
                </a>
              </li>
              @for (cat of categorias; track cat.idCategoria) {
                <li>
                  <a (click)="seleccionarCategoria(cat.idCategoria)"
                     [class.activo]="categoriaSeleccionadaId() === cat.idCategoria">
                    {{ cat.nombre }}
                  </a>
                </li>
              }
            </ul>
          </nav>
        } @else if (errorCategorias) {
           <p class="error-msg">{{ errorCategorias }}</p>
        } @else {
          <p class="loading-text">Cargando categorías...</p>
        }
      </div>
    </div>
  </aside>

  <section class="tienda-contenido">
    <app-product-list [productos]="productosFiltrados()"></app-product-list>
    
    @if (productosFiltrados().length === 0) {
      <div class="no-results">
        <p>No se encontraron productos 😢</p>
      </div>
    }
  </section>

</div>